.App {
  text-align: center;

}

li {
   list-style: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #4B484A;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #4B484A;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #4B484A;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

}

svg {
  stroke: #4B484A;
}


header {
  background-color: #B2A38D;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.headerLink  {
  display: flex;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  font-size: 30px;
}


header a {
  color: #4B484A;
  text-decoration: none;
}

header a:hover {
  color: #EAEAEA;
}


.buttonContainer {
  display: flex;
  justify-content: center;
 }

.buttonContainer button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #B2A38D;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
 }

.randomName, .name, .blog, .todo, .baby{
  color: #4B484A;
  margin-bottom: 50px
}

.randomName button, .name button, .blog button, .todo button, .baby button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background:#B2A38D;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
 }










